.card{

    background-color: beige;
    height:225px;
    width:125px;
    
    border-radius: 20px;
    box-shadow:  3px 5px rgb(163, 163, 163);

    margin-top: 100px;;

}



.heading{
    margin-top: 10px;

    text-align: center;
}

.image{
    max-width: 100px;
    margin-left: 12.5px;
    margin-top: 30x;
    object-fit: cover;
}