.card{

    background-color: beige;
    height:225px;
    width:125px;
    
    border-radius: 20px;
    box-shadow:  3px 5px rgb(163, 163, 163);

    padding-top :25px;
    margin-top:30px;

    text-align: center;

}

.text{

    margin-top:50px;

}