*{
  margin:0;
  box-sizing: border-box;
}

.filter{

display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap:wrap ;

margin-left:10px;

}

.cards{

  display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap:wrap ;

 
  margin-left:10px;
}